img {
    width: 100%;
    height: 350px;
}

body {
    background-color: black;
}


.col-md-6 {
    height:500px;
    border-style: solid;
    border-width: thin;
    border-color: white;
    color: white;
}
