.jumbotron {
    font-family: 'Courgette', cursive;
    text-align: center;
}

.col-md-6 {
    height:600px;
    border-style: solid;
    border-width: thin;
    border-color:black;
    color: black;
}

h2 {
    text-align: bottom;
}

.row {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    height: 150px;
}